body {
    background-color: lightpink;
}

h1 {
    color: black;
    text-align: center;
}

nav p {
    font-family: verdana;
    font-size: 20px;
    text-align: left;

}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}
ul {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    width: 100%;
}

 li {
    float: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightpink;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;

    background-color: lightpink;
}